<%- include("partials/header")%>
    <form action="/dashboard" method="post" class="topnav">

        <!-- <div class="topnav"> -->
        </ul>


        <h1>
            <p>Welcome,
                <%= thierName %> to <span>Habitf</span>
            </p>
        </h1>



        <a class="active" href="http://pixe.la/@<%=  thierName %>">
                    Profile
                </a>




        <ul>
            <!-- </div> -->

    </form>


    <!-- <div class="box" id="heading">
        <h1>
            <= listTitle%>
        </h1>
    </div>

    <div class="box"> -->



    <!-- < newListItems.forEach(function(item){%>

            <form action="/dashboard" method="post">
                <div class="item">
                    <!- <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<item._id"> -->
    <!-- <button type="submit">+Track</button>
                    <p>
                        <=item.name%>
                    </p>
                </div> -->
    <!-- <input type="hidden" name="listName" value="<= listTitle%>"></input> -->
    <!-- </form> -->
    <!-- %});%> -->




    <!-- <form action="/dashboard" method="post" type="text" class="item">
                    <input type="text" name="newItem" placeholder="Add a new habit" autocomplete="off">
                    <button type="submit" name="list" value="<= listTitle %>">+</button>
                </form> -->


    <!-- </div> -->

    <%- include("partials/footer")%>